<!-- Include header -->
	<%- include('include/_header') %>
<!-- /Include header -->
	<!-- Start content -->
	<div class="info-container">
		<div class="lcars-text-bar">
			<span>Add Encounter</span>
		</div>
		<!-- Add episode form -->
			<%- include('include/_form') %>
		<!-- /Add episode form -->	
	</div>		
	<!-- End content area. -->
<!-- Include footer -->
	<%- include('include/_footer') %>
<!-- /Include footer -->