<!-- Include header -->
	<%- include('include/_header') %>
<!-- /Include header -->

			<!-- Start your content here. -->

			<h1>Delta Quadrant:<br>Known Species Database</h1>
			
            <h3>Add Encounter to Database</h3>

				<!-- Add episode form -->
					<%- include('include/_form') %>
				<!-- /Add episode form -->
			
			 <!-- End content area. -->

<!-- Include footer -->
	<%- include('include/_footer') %>
<!-- /Include footer -->