<!-- Include header -->
<%- include('include/_header') %>
<!-- /Include header -->
<!-- Begin content -->
	<div class="info-container">
		<div class="lcars-text-bar"> <span>Error</span> </div>
		<h2>Your request cannot be processed.</h2>
        <p>Please select your re-entry point to the database:</p>
		<div class="centered-picture">
			<img class="border" src="/img/error.jpg" alt="error">
		</div>
		<div class="buttons centered-button"> 
			<div><a href="/map" class="bluey two-rows" id="entry-button1">Interactive Delta<br>Quadrant Map</a> </div>
			<a href="/encounter" class="sunflower two-rows" id="entry-button2">Add Encounter<br>to Database</a> 
		</div>

	</div>
<!-- End content area. -->
<!-- Include footer -->
	<%- include('include/_footer') %>
<!-- /Include footer -->