<!-- Include header -->
	<%- include('include/_header') %>
<!-- /Include header -->

			<!-- Start your content here. -->

			<div class="lcars-text-bar the-end">
				<span>Welcome to the:</span>
			</div>

			<h1>Delta Quadrant:<br>Known Species Database</h1>

			<div class="buttons">
				<a href="/map" class="bluey">Enter Database</a>
			</div>
			
			<div class="lcars-text-bar">
				<span>CONTENTS:</span>
			</div>
			<p>A database of the species encountered by the USS Voyager (NCC-74656, Intrepid-class) during it's 7 year voyage through the Delta Quadrant between 2371 & 2378.</p>

			<div class="lcars-text-bar">
				<span>PURPOSE:</span>
			</div>
            <p>To provide Federation crews with information about the species (and phenomona) known to inhabit the Delta Quadrant, the space they occupy, their biology, culture, and technological capabilities, and the nature of their encounters with the crew of the USS Voyager.</p>

			<div class="lcars-text-bar">
				<span>BACKGROUND INFORMATION:</span>
			</div>
			<p>The USS Voyager (NCC-74656, Intrepid-class) was pulled into the Delta Quadrant during it's first mission in 2371, stardate 48307.5, by a sporocystian lifeform known as the "Caretaker," of the species called the Nacene. <br> As Federation warp technology improves, due in large part to the technological findings of Voyager and her crew during their travels, mission planning for further Delta Quadrant exporation has commenced and the need for a comprehensive database of known Delta Quadrant species has arisen.</p>
			
			 <!-- End content area. -->

<!-- Include footer -->
	<%- include('include/_footer') %>
<!-- /Include footer -->