<!-- Include header -->
<%- include('include/_header') %>
<!-- /Include header -->
<!-- Begin content -->
	<div class="info-container">
		<div class="lcars-text-bar"> <span>Welcome to the</span> </div>
		<h2>Delta Quadrant: Known Species Database</h2>
		<div class="centered-picture">
			<img class="border" src="https://c.tenor.com/3u9VCqTYZHUAAAAd/star-trek-voyager-warp-out-warp10fly-by-janeway-intrepid-class-starship.gif" alt="voyger animation">
		</div>
		<div class="buttons centered-button"> 
			<div><a href="/map" class="bluey two-rows">Interactive Delta<br>Quadrant Map</a> </div>
			<a href="/encounter" class="sunflower two-rows">Add Encounter<br>to Database</a> 
		</div>
		<div class="lcars-text-bar"> <span>CONTENTS</span> </div>
		<p class="info-text">A database of the species encountered by the USS Voyager (NCC-74656, Intrepid-class) during it's 7 year voyage through the Delta Quadrant between 2371 & 2378.</p>
		<div class="lcars-text-bar"> <span>PURPOSE</span> </div>
		<p class="info-text">To provide Federation crews with information about the species (and phenomona) known to inhabit the Delta Quadrant, the space they occupy, their biology, culture, and technological capabilities, and the nature of their encounters with the crew of the USS Voyager.</p>
		<div class="lcars-text-bar"> <span>BACKGROUND INFORMATION</span> </div>
		<p class="info-text">The USS Voyager (NCC-74656, Intrepid-class) was pulled into the Delta Quadrant during it's first mission in 2371, stardate 48307.5, by a sporocystian lifeform known as the "Caretaker," of the species called the Nacene.
			<br> Federation warp technology is improving, due in large part to the technological findings of Voyager and her crew during their travels. Mission planning for further Delta Quadrant exploration has now commenced and the need for a comprehensive database of known Delta Quadrant species has arisen.</p>
	</div>
<!-- End content area. -->
<!-- Include footer -->
	<%- include('include/_footer') %>
<!-- /Include footer -->