<!-- Include header -->
<%- include('include/_header') %>
<!-- /Include header -->
<!-- Species list -->
<div class="info-container">
    <div class="lcars-text-bar"><span>Full Species List</span></div>
    <!-- Include episodes -->
        <%- include('include/_list') %>
    <!-- /Include episodes -->
</div>
<!-- End content area. -->
<!-- Include footer -->
	<%- include('include/_footer') %>
<!-- /Include footer -->