<!-- Form for adding an episode to the database -->
<form action="/api/v1/episodes" method="POST" id="add_encounter" enctype="multipart/form-data" onsubmit="return alert(`Encounter successfully uploaded to database.`)">
		<!-- episode title -->
		<div class="form-container">
			<label for="title">Title:</label>
			<input type="text" name="title" value="" placeholder="Episode name" required>
			<label for="speciesName">Associated Species:</label>
			<select name="speciesName" id="name">
				<% if (encounter) { %>
					<option selected><%= encounter %></option>
				<% } else { %>
					<option selected></option>
				<% } %>
				<% for (let i = 0; i < alienNames.sort().length; i++) { %>
					<option><%= alienNames[i] %></option>
				<% } %>
			</select>
			<!-- season -->
			<label for="season">Year of Encounter (episode season):</label>
			<select name="season" id="season" required>
				<% for (let i = 1; i < 8; i++) { %>
					<option><%= i %></option>
				<% } %>
			</select>
			<!-- episode number -->
			<label for="episodeNumber">Encounter ID (episode number):</label>
			<select name="episodeNumber" id="number" required>
				<% for (let i = 1; i < 27; i++) { %>
					<option><%= i %></option>
				<% } %>
			</select>
			<!-- episode summary -->
			<label for="summary">Encounter Summary:</label>
			<input type="text" name="summary" value="" placeholder="Brief summary of encounter" required>
			<!-- image uploader -->
			<label for="image">Encounter Image:</label>
			<input type="file" name="file" id="file">
			<!-- submit button -->
			<button id="form-submit" type="submit">Upload</button>
		</div>
		<div class="buttons centered-button"> 
			<a href="/map" class="bluey two-rows">Return<br>to Map</a> 
		</div>
</form>